{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: {{ circuit.getBackground() }}; padding: 2px 6px; }
	.example-wrapper 
</style>

<div class="example-wrapper">
    <h1>Circuit {{ circuit.description }}</h1>
{# {{ dump(circuit) }} #} 
    <table class='table'>
    	<tbody>
            <tr>
                <th>Numéro</th>
                <th>Ville</th>
                <th>Nombre de jour</th>
            </tr>
             {%  for etape in circuit.etapes %}
  			<tr>
    			<td>{{ etape.numeroEtape }}</td>
    			<td>{{ etape.getVilleEtape() }}</td>
    			<td>{{ etape.getNombreJours() }}</td>
  			</tr>
             {% endfor %} {# etapes #}
        </tbody>
     </table>
     <a id=lien href="{{ path('frontoffice_home') }}">retour à l'accueil</a>
</div>
 
{% endblock %}

